#appBody {
    background-color: #222;
    color: white;
    font-weight: 300;
}

#boxa {
    width: 100px;
    border: 10px solid coral;
    padding: 50px;
    margin: 20px;

}


.navy {
    background-color: black;
    margin-right: 1px;
}

#myModal {
    color: black;
    text-align: center;
}

#navBarText {
    color: white;
    font-weight: 300;
    font-size: 30px;
    font-style: oblique;
    font-family: fantasy;
}

h1 {
    color: #ffffff;
    text-shadow: 0 0 2px rgb(255, 255, 255);
}

img {
    border: rgb(0, 183, 255) solid 5px;
    border-radius: 10px;
    height: auto;
    min-width: 50%;
    max-width: 90%;
    margin: 0 auto;
}